footer.footer 
    .footer__logo 
        img(src="/img/logo-green.png", alt="natours logo")
    ul.footer__nav
        li: a(href="#") About Us 
        li: a(href="#") Download apps
        li: a(href="#") Become a guide
        li: a(href="#") Careers
        li: a(href="#") Contact 
    p.footer_copyright &copy; Made By Pranay Yadav under the Course By Jonas Schmetmann. All rights reserved